<!DOCTYPE html>
<html>
        <head>
                <title>Cool Interactive Title</title>
        </head>

        <body>
                <form action = "/response">
                        Insert a name: <input type="text" name="userName">
                        <input type="submit" value="Submit">
                        
                </form>
                <br>
                <h1>Welcome {{name}} to this cool page!</h1> 
                <br>
                Name: {{name}} <br>
                Request Method: {{reqMethod}} <br>
                
        </body>
</html>